<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
</head>
<body>
  <h1>Terms and Conditions on bus regestration</h1>
  <a>1. University bus transport will be operated on a prepaid system.
  <a>2. All students who choose to make use of this bus transport service in 2021 will be charged a once-off levy of R2810. This levy will be applicable from March — December 2021.</a>
  <a>3. The once-off levy of R2810 will be debited onto your account automatically upon finalization of bus registration.</a>
  <a>4. Semester students registered for six months will be charged a levy of R1405.</a>
  <a>5. All non-residence students who choose to make use of the bus transport in 2021 need to complete this application form.</a>
  <a>6. All students residing in University owned (ARL&C managed) accommodation should not complete this form as transport is already included in their fees.</a>
  <a>7. All NSFAS funded students must please note the following:</a>
  <a>7a. NSFAS funded students should not complete this form if they reside in University owned, accredited or leased accommodation as transport is already included in their rental fees. Should a NSFAS funded student activate this TUT bus transport levy this would be for his or her own account.</a>
  <a>7b. Only NSFAS funded students living off-campus with family or non-accredited accommodation (own arrangements) qualify for a NSFAS Transport Allowance. In this case a NSFAS funded student may use the University bus transport but the maximum allowed allowance as per the NSFAS guidelines will be applicable.</a>
  <a>7c. NSFAS funded students who await confirmation of their placement in University owned, accredited or leased accommodation may activate the University transport for the interim period, but this will be deducted (pro rata) from the NSFAS Transport Allowance mentioned in (b) above.</a>
  <a>8. Please note that the cancellation of the registered TUT bus transport levy will only be accepted on the following conditions:</a>
  <a>8a. Students allocated and residing in University owned accommodation.</a>
  <a>8b. Students allocated and residing in University accredited or lease accommodation.</a>
  <a>8c. Deregistered students on submission of a proof of course cancellation.</a>
  <a>8d. NSFAS funded students must ensure that they cancel their TUT bus transport levy should they receive placement in University owned, accredited or leased accommodation [See 7 (c) above].</a>
</body>
</html>