<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Welcome_page</title>

    <style>
      body {background-color: silver !important;}
      a:link, a:visited {
      background-color: #778899;
      color: white;
      padding: 60px 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      }

      h1{
      color:black;
      text-align: center;
      }

      a:hover, a:active {
      background-color: black;
    }
    </style>
</head>
<body>
    <h1>WELCOME TO CLASS VUEZ</h1><br>
    <h2>Please select user type:</h2><br>
    <a href="loginLecturer.html">Lecturer</a>
    <a href="loginStudent.html">Student</a>
    <a href="loginAdmin.html">Admin</a>
</body>
</html>